<script id="template-adminModules" type="text/x-handlebars-template">
	<div class="container">
	  	<nav>
			<ol class="breadcrumb">
				<li><a href="/" data-bb-link>Home</a></li>
				<li><a href="/admin" data-bb-link>Courses</a></li>
				<li><a href="/admin-edit_course?course_id={{courseId}}" data-bb-link>{{courseId}}</a></li>
				<li class="active">Modules</li>
			</ol>
		</nav>
		<h1>Modules</h1>
		<a href="/admin-add_module?course_id={{courseId}}">Add Module</a>
		<div class="container-tableData">
			<div class="loader center" aria-label="loading..."></div>
		</div>
		<a href="/admin-add_module?course_id={{courseId}}">Add Module</a>
	</div>
</script>


<script id="template-adminModulesContent" type="text/x-handlebars-template">
	<table class="table table-striped">
		<thead>
		<tr>
			<th>Name</th>
			<th>&nbsp;</th>
		</tr>
		</thead>
		<tbody>
		{{#if module.length }}
			{{#each module}}
				<tr>
					<td><a href="/admin-edit_module?module_id={{_id}}">{{name}}</a></td>
					<td>
						<a href="/admin-edit_module?module_id={{_id}}" class="btn btn-default">Edit</a>
						<button type="button" class="btn btn-danger btn-delete-module" data-id="{{_id}}">Delete</button>
					</td>
				</tr>
			{{/each}}
		{{else}}
			<tr>
				<td colspan="2">
					<div class="txt-noResults">There are no modules for this course.</div>
				</td>
			</tr>
		{{/if}}


		</tbody>
	</table>
</script>