<script id="template-landing" type="text/x-handlebars-template">
	<div class="container">
		<div class="col-md-3">
			<section class="cell">
				<h1>Tools</h1>
				<ul class="nav nav-pills nav-stacked">
					<li><a href="/calendar" data-bb-link>Calendar</a></li>
					<li><a href="/grades" data-bb-link>Grades</a></li>
					<li><a href="/send-email" data-bb-link>Send Email</a></li>
					<li><a href="/info" data-bb-link>Personal Information</a></li>
				</ul>
			</section>
		</div>
		<div class="col-md-6">
			<section class="cell">
				<h1>My Courses</h1>
				{{#if studentCourses.length }}
					<p>Courses where you are: Student</p>
					<ul>
						{{#each studentCourses }}
							<li><a href="/course/{{number}}" data-bb-link>{{number}} - {{name}}</a> </li>
						{{/each}}

					</ul>
				{{/if}}

				{{#if teacherCourses.length }}
					<p>Courses where you are: Student</p>
					<ul>
						{{#each teacherCourses }}
							<li><a href="/course/{{number}}" data-bb-link>{{number}} - {{name}}</a> </li>
						{{/each}}

					</ul>
				{{/if}}

			</section>
		</div>
		<div class="col-md-3">
			<section class="cell">
				<h1>My Messages</h1>
				<p>Course with Messages:</p>
				<table class="table">
					<tbody>
					<tr>
						<td><a href="/messages" data-bb-link>Course Name</a></td>
						<td>(4 unread)</td>
					</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="2">Last Updated: Date</td>
						</tr>
					</tfoot>
				</table>
			</section>
		</div>
	</div>
</script>
