<script id="template-adminAssignment" type="text/x-handlebars-template">
	<div class="container">
		<div class="col-md-12">
			<nav>
				<ol class="breadcrumb">
					<li><a href="/" data-bb-link>Home</a></li>
					<li><a href="/admin" data-bb-link>Courses</a></li>
					<li><a href="/admin/edit_course?course_id={{courseId}}" data-bb-link>{{courseId}}</a></li>
					<li><a href="/admin/assignments?course_id={{courseId}}" data-bb-link>Assignments</a></li>
					<li class="active">{{title}}</li>
				</ol>
			</nav>


			<h1>{{title}}</h1>
			<div class="container-form">
				<div class="loader center" aria-label="loading..."></div>
			</div>
		</div>
	</div>
</script>

<script id="template-adminAssignmentForm" type="text/x-handlebars-template">
	<form method="post" action="." id="form-AdminAssignment">
		{{#if error}}
			<div class="alert alert-danger">
				{{{error}}}
			</div>
		{{/if}}

		{{#if success}}
			<div class="alert alert-success">
				{{{success}}}
			</div>
		{{/if}}

		<div class="form-group">
			<label for="inputAssignmentName" class="sr-only">Assignment Name</label>
			<input type="text" name="name" value="{{name}}" id="inputAssignmentName" class="form-control" maxlength="325" placeholder="Assignment Name" autofocus required {{#if disabled}}disabled{{/if}}>
		</div>

		<div class="form-group">
			<div class='input-group date' id='datetimepicker1'>
				<label for="inputDueDate" class="sr-only">Due Date</label>
				<input type='text' class="form-control" name="due" id="inputDueDate" placeholder="Due Date" value="{{due}}" {{#if disabled}}disabled{{/if}}>
				<span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
			</div>
		</div>

		<div class="form-group">
			<label for="inputPoints" class="sr-only">Total Points</label>
			<input type="text" name="points" value="{{points}}" id="inputPoints" class="form-control" maxlength="3" placeholder="Total Points" required {{#if disabled}}disabled{{/if}}>
		</div>

		<div class="form-group">
			<label for="inputInstructions" class="sr-only">Instructions</label>
			<textarea class="form-control" name="instructions" id="inputInstructions" placeholder="Instructions" {{#if disabled}}disabled{{/if}}>{{instructions}}</textarea>
		</div>

		{{#if disabled}}
			<div class="loader center" aria-label="working..."></div>
		{{else}}
			<div class="form-group">
				<button class="btn btn-lg btn-primary btn-block" type="submit">{{title}}</button>
			</div>

			<div class="form-group">
				<a href="/admin/edit_course?course_id={{courseId}}" class="btn btn-lg btn-default btn-block">Cancel</a>
			</div>
		{{/if}}


	</form>
</script>
