<script id="template-forgotPassword" type="text/x-handlebars-template">
	<div class="container">
		<div class="col-md-12">

			<nav>
				<ol class="breadcrumb">
					<li><a href="/" data-bb-link>{{home}}</a></li>
					<li class="active">Forgot Password</li>
				</ol>
			</nav>

			<h1>Forgot Password</h1>
			<div class="container-form">
				<div class="loader center" aria-label="loading..."></div>
			</div>
		</div>
	</div>
</script>

<script id="template-forgotPasswordForm" type="text/x-handlebars-template">
	<form method="post" action="." id="form-forgotPassword">
		{{#if error}}
			<div class="alert alert-danger">
				{{{error}}}
			</div>
		{{/if}}

		{{#if success}}
			<div class="alert alert-success">
				{{{success}}}
			</div>
		{{/if}}

		<div class="form-group">
			<label for="inputEmail" class="sr-only"> Email</label>
			<input type="email" name="email" value="" id="inputEmail" class="form-control" maxlength="325" placeholder="Email" autocomplete="false" autofocus required {{#if disabled}}disabled{{/if}}>
		</div>

		{{#if disabled}}
			<div class="loader sm center" aria-label="loading..."></div>
		{{else}}
			<div class="form-group">
				<button class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button>
			</div>

			<div class="form-group">
				<a href="/" class="btn btn-lg btn-default btn-block" data-bb-link>Cancel</a>
			</div>
		{{/if}}

	</form>
</script>

<script id="template-forgotPasswordSuccess" type="text/x-handlebars-template">
	<div class="alert alert-success">
		{{message}}
	</div>
</script>