<script id="template-courseAssignments" type="text/x-handlebars-template">
	<div class="container">
		<div class="col-md-3">
			<nav>
				<ul class="nav nav-pills nav-stacked">
					<li role="presentation"><a href="/course/{{courseId}}" data-bb-link>Home</a></li>
					<li role="presentation"><a href="/course/{{courseId}}/assessments" data-bb-link>Assessments</a></li>
					<li role="presentation" class="active"><a href="/course/{{courseId}}/assignments" data-bb-link>Assignments</a></li>
					<li role="presentation"><a href="/course/{{courseId}}/modules" data-bb-link>Course Modules</a></li>
					<li role="presentation"><a href="/grades/{{courseId}}" data-bb-link>My Grades</a></li>
					<li role="presentation"><a href="/messages/{{courseId}}" data-bb-link>Messages</a></li>
				</ul>
			</nav>
		</div>
		<div class="col-md-9">
			<h2><small>{{courseId}}<br></small>{{course.name}}</h2>
			<h1>Assignments</h1>
			{{#if module.length}}
				<ul class="noStyle">
					{{#each module}}
						<li>
							<a href="/course/{{courseId}}/modules?module_id={{id}}" data-bb-link>{{name}}</a>
							{{#if desc }}
								<p>{{desc}}</p>
							{{/if}}
						</li>
					{{/each}}
				</ul>
			{{/if}}
		</div>
	</div>
</script>
