<form method="post" action="{{action}}">
    <h1>{{intro}}</h1>
    {{#if error}}
    <p class="error">{{error}}</p>
    {{/if}}
    <fieldset>
        <div>
            <label for="fname">first name</label>
            <input type="text" id="fname" value="{{employee.firstName}}" name="fname">
            {{#if error}}
                {{#unless employee.firstName}}
                <div class="error">There must me a first name</div>
                {{/unless}}
            {{/if}}
        </div>
        <div>
            <label for="lname">last name</label>
            <input type="text" id="lname" value="{{employee.lastName}}" name="lname">
            {{#if error}}
                {{#unless employee.lastName}}
                <div class="error">There must me a last name</div>
                {{/unless}}
            {{/if}}
        </div>
    </fieldset>
    <button type="submit">submit</button>
</form>