<script id="template-adminCourse" type="text/x-handlebars-template">
	<div class="container">
		<div class="col-md-3">
			<nav>
				<ul class="nav nav-pills nav-stacked">
					<li role="presentation" class="active"><a href="/admin" data-bb-link>Courses</a></li>
					<li role="presentation"><a href="/admin-users?role=user{{#if courseId}}&course_id={{courseId}}{{/if}}" data-bb-link>Students</a></li>
					<li role="presentation"><a href="/admin-users?role=admin{{#if courseId}}&course_id={{courseId}}{{/if}}" data-bb-link>Teachers</a></li>

					{{#if courseId}}
						<li role="presentation"><a href="/admin-assessments?course_id={{courseId}}" data-bb-link>Assessments</a></li>
						<li role="presentation"><a href="/admin-assignments?course_id={{courseId}}" data-bb-link>Assignments</a></li>
						<li role="presentation"><a href="/admin-modules?course_id={{courseId}}" data-bb-link>Modules</a></li>
					{{/if}}
				</ul>
			</nav>
		</div>

		<div class="col-md-9">
			<nav>
				<ol class="breadcrumb">
					<li><a href="/" data-bb-link>Home</a></li>
					<li><a href="/admin" data-bb-link>Courses</a></li>
					<li class="active">{{title}}</li>
				</ol>
			</nav>


			<h1>{{title}}</h1>
			<div class="container-form">
				<div class="loader center" aria-label="loading..."></div>
			</div>
		</div>
	</div>
</script>

<script id="template-adminCourseForm" type="text/x-handlebars-template">
	<form method="post" action="." id="form-AdminCourse">
		{{#if error}}
			<div class="alert alert-danger">
				{{{error}}}
			</div>
		{{/if}}

		{{#if success}}
			<div class="alert alert-success">
				{{{success}}}
			</div>
		{{/if}}

		<div class="form-group">
			<label for="inputCourseNumber" class="sr-only">Course Number</label>
			<input type="text" name="number" value="{{number}}" id="inputCourseNumber" class="form-control" maxlength="5" placeholder="Course Number" required autofocus {{#if disabled}}disabled{{/if}}>
		</div>

		<div class="form-group">
			<label for="inputCourseName" class="sr-only">Course Name</label>
			<input type="text" name="name" value="{{name}}" id="inputCourseName" class="form-control" maxlength="325" placeholder="Course Name" required {{#if disabled}}disabled{{/if}}>
		</div>

		<div class="form-group">
			<div class='input-group date' id='datetimepicker1'>
				<label for="inputStartDate" class="sr-only">Start Date</label>
				<input type='text' class="form-control" name="startDate" id="inputStartDate" placeholder="Start Date" value="{{startDate}}" {{#if disabled}}disabled{{/if}}>
				<span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
			</div>
		</div>

		<div class="form-group">
			<div class='input-group date' id='datetimepicker2'>
				<label for="inputEndDate" class="sr-only">End Date</label>
				<input type='text' class="form-control" name="endDate" id="inputEndDate" placeholder="End Date" value="{{endDate}}" {{#if disabled}}disabled{{/if}}>
				<span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
			</div>
		</div>

		<div class="form-group">
			<label for="inputCourseDesc" class="sr-only">Course Description</label>
			<textarea class="form-control" name="desc" id="inputCourseDesc" placeholder="Course Description" {{#if disabled}}disabled{{/if}}>{{desc}}</textarea>
		</div>

		{{#if disabled}}
			<div class="loader center" aria-label="working..."></div>
		{{else}}
			<div class="form-group">
				<button class="btn btn-lg btn-primary btn-block" type="submit">{{title}}</button>
			</div>

			<div class="form-group">
				<a href="/admin" class="btn btn-lg btn-default btn-block">Cancel</a>
			</div>
		{{/if}}


	</form>
</script>
