<script id="template-adminUser" type="text/x-handlebars-template">
	<div class="container">
		<div class="col-md-3">
			<nav>
				<ul class="nav nav-pills nav-stacked">
					<li role="presentation"><a href="/admin" data-bb-link>Courses</a></li>
					<li role="presentation"><a href="/admin-users?role=user{{#if courseId}}&course_id={{courseId}}{{/if}}" data-bb-link>Students</a></li>
					<li role="presentation"><a href="/admin-users?role=admin{{#if courseId}}&course_id={{courseId}}{{/if}}" data-bb-link>Teachers</a></li>

					{{#if courseId}}
						<li role="presentation"><a href="/admin-assessments?course_id={{courseId}}" data-bb-link>Assessments</a></li>
						<li role="presentation"><a href="/admin-assignments?course_id={{courseId}}" data-bb-link>Assignments</a></li>
						<li role="presentation"><a href="/admin-modules?course_id={{courseId}}" data-bb-link>Modules</a></li>
					{{/if}}
				</ul>
			</nav>
		</div>

		<div class="col-md-9">
			<nav>
				<ol class="breadcrumb">
					<li><a href="/" data-bb-link>Home</a></li>
					<li><a href="/admin" data-bb-link>Courses</a></li>
					{{#if courseId}}
						<li><a href="/admin-edit_course?course_id={{courseId}}" data-bb-link>{{courseId}}</a></li>
					{{/if}}
					<li class="active">{{title}}</li>
				</ol>
			</nav>


			<h1>{{title}}</h1>
			<div class="container-form">
				<div class="loader center" aria-label="loading..."></div>
			</div>
		</div>
	</div>
</script>

<script id="template-adminUserForm" type="text/x-handlebars-template">
	<form method="post" action="." id="form-AdminUser">
		{{#if error}}
			<div class="alert alert-danger">
				{{{error}}}
			</div>
		{{/if}}

		{{#if success}}
			<div class="alert alert-success">
				{{{success}}}
			</div>
		{{/if}}

		<div class="form-group">
			<label for="inputFirstName" class="sr-only">First Name</label>
			<input type="text" name="firstName" value="{{firstName}}" id="inputFirstName" class="form-control" maxlength="325" placeholder="First Name" required autofocus /{{#if disabled}}disabled/{{/if}}>
		</div>

		<div class="form-group">
			<label for="inputLastName" class="sr-only">Last Name</label>
			<input type="text" name="lastName" value="{{lastName}}" id="inputLastName" class="form-control" maxlength="325" placeholder="Last Name" required /{{#if disabled}}disabled/{{/if}}>
		</div>

		<div class="form-group">
			<label for="inputEmail" class="sr-only">Email</label>
			<input type="email" name="lastName" value="{{email}}" id="inputEmail" class="form-control" maxlength="325" placeholder="Email" required /{{#if disabled}}disabled/{{/if}}>
		</div>

		{{#if addUserMode }}
			<div class="form-group">
				<label for="inputPassword" class="sr-only">Password</label>
				<input type="password" name="password" value="" id="inputPassword" class="form-control" maxlength="325" placeholder="Password" required /{{#if disabled}}disabled/{{/if}}>
			</div>

			<div class="form-group">
				<label for="inputConfirmPassword" class="sr-only"> Confirm Password</label>
				<input type="password" name="confirmPassword" value="" id="inputConfirmPassword" class="form-control" maxlength="325" placeholder="Confirm Password" required /{{#if disabled}}disabled/{{/if}}>
			</div>

		{{else}}
			<div>
				<a href="/admin-edit_password?token={{token}}">Edit Password</a>
			</div>
		{{/if}}

		<div class="form-group">
			<div>User Role</div>
			{{#each roles}}
				<label class="checkbox-inline"><input type="checkbox" value="{{value}}" name="role"{{#if selected}} checked{{/if}}>{{label}}</label>
			{{/each}}
		</div>


		<div class="form-group">
			<button class="btn btn-lg btn-primary btn-block" type="submit">{{title}}</button>
		</div>
	</form>
</script>