<script id="template-adminUser" type="text/x-handlebars-template">
	<div class="container">
		<div class="col-md-3">
			<nav>
				<ul class="nav nav-pills nav-stacked">
					<li role="presentation"><a href="/admin" data-bb-link>Courses</a></li>
					<li role="presentation"><a href="/admin-students" data-bb-link>Students</a></li>
					<li role="presentation"><a href="/admin-teachers" data-bb-link>Send Email</a></li>

					{{#if inEditMode}}
						<li role="presentation"><a href="/admin-users?type=user" data-bb-link>View Students</a></li>
						<li role="presentation"><a href="/admin-users?type=admin" data-bb-link>View Teachers</a></li>
						<li role="presentation"><a href="/admin-assessments" data-bb-link>View Assessments</a></li>
						<li role="presentation"><a href="/admin-assignments" data-bb-link>View Assignments</a></li>
						<li role="presentation"><a href="/admin-modules" data-bb-link>View Modules</a></li>
					{{/if}}
				</ul>
			</nav>
		</div>

		<div class="col-md-9">
			<nav>
				<ol class="breadcrumb">
					<li><a href="/" data-bb-link>Home</a></li>
					<li><a href="/admin" data-bb-link>Courses</a></li>
					<li class="active">Add User</li>
				</ol>
			</nav>


			<h1>Add User</h1>
			<form method="post" action="." id="form-AdminUser">
				{{#if error}}
					<div class="alert alert-danger">
						{{{error}}}
					</div>
				{{/if}}

				{{#if success}}
					<div class="alert alert-success">
						{{{success}}}
					</div>
				{{/if}}

				<div class="form-group">
					<label for="inputFirstName" class="sr-only">First Name</label>
					<input type="text" name="firstName" value="{{firstName}}" id="inputFirstName" class="form-control" maxlength="325" placeholder="First Name" required autofocus /{{#if disabled}}disabled/{{/if}}>
				</div>

				<div class="form-group">
					<label for="inputLastName" class="sr-only">Last Name</label>
					<input type="text" name="lastName" value="{{lastName}}" id="inputLastName" class="form-control" maxlength="325" placeholder="Last Name" required /{{#if disabled}}disabled/{{/if}}>
				</div>

				<div class="form-group">
					<label for="inputEmail" class="sr-only">Email</label>
					<input type="email" name="lastName" value="{{email}}" id="inputEmail" class="form-control" maxlength="325" placeholder="Email" required /{{#if disabled}}disabled/{{/if}}>
				</div>

				{{#if addUserMode }}
					<div class="form-group">
						<label for="inputPassword" class="sr-only">Password</label>
						<input type="password" name="password" value="" id="inputPassword" class="form-control" maxlength="325" placeholder="Password" required /{{#if disabled}}disabled/{{/if}}>
					</div>

					<div class="form-group">
						<label for="inputConfirmPassword" class="sr-only"> Confirm Password</label>
						<input type="password" name="confirmPassword" value="" id="inputConfirmPassword" class="form-control" maxlength="325" placeholder="Confirm Password" required /{{#if disabled}}disabled/{{/if}}>
					</div>

				{{else}}
					<div>
						<a href="/admin-edit_password?token={{token}}">Edit Password</a>
					</div>
				{{/if}}

				<div class="form-group">
					<div>User Role</div>
					<label class="checkbox-inline"><input type="checkbox" value="user" name="role">Student</label>
					<label class="checkbox-inline"><input type="checkbox" value="admin" name="role">Teacher</label>
				</div>


				<div class="form-group">
					<button class="btn btn-lg btn-primary btn-block" type="submit">Add User</button>
				</div>
			</form>
		</div>
	</div>
</script>
